.expandChildTable:before {
    content: "+";
    display: block;
    cursor: pointer; 
}
.expandChildTable.selected:before {
    content: "-";   
}
.childTableRow {
    display: none;
}
.childTableRow table {
    border: 2px solid #555;
}
input{
    zoom:130%;
}

/*顯示表格CSS*/
input[name='show'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: none;
}
input[name='show']:after {
    font-family: 'FontAwesome';
    display: inline-block;
    text-align: center;
    font-size: 15px;
    content: attr(data-icon);
    padding: 0px 8px;
    border-radius: 30px;
    color: rgba(0,0,0,.5);
    transition: box-shadow 0s, color 0.1s;
}
input[name='show']:checked:after {
        background: rgba(0,0,0);
        
        color: rgba(0,0,0);
        font-size:20px;
        color:rgb(250,250,250);
}

/*打勾後進度條CSS*/
