.expandChildTable:before {
    content: "+";
    display: block;
    cursor: pointer; 
}
.expandChildTable.selected:before {
    content: "-";   
}
.childTableRow {
    display: none;
}
.childTableRow table {
    border: 2px solid #555;
}
input{
    zoom:130%;
}

/*顯示表格CSS*/
input[name='show'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: none;
}
input[name='show']:after {
    font-family: 'FontAwesome';
    display: inline-block;
    text-align: center;
    font-size: 15px;
    content: attr(data-icon);
    padding: 0px 8px;
    border-radius: 30px;
    color: rgba(0,0,0,.5);
    transition: box-shadow 0s, color 0.1s;
}
input[name='show']:checked:after {
        background: rgba(0,0,0);
        
        color: rgba(0,0,0);
        font-size:20px;
        color:rgb(250,250,250);
}
#item_talbe th{
    text-align: center;
}

/*滑鼠到標題顯示圖片*/
.titletd img{
    display: none;
    position:fixed;
    top: 0px;
    right: 0px;
    opacity:1;/*透明度*/
    max-width: 100%;
    max-height: 100%;
    z-index:2; /*圖層順序*/
}
.tdl img{
    display: none;
    position:fixed;
    top: 0px;
    left: 0px;
    opacity:1;/*透明度*/
    max-width: 100%;
    max-height: 100%;
    z-index:2;
}
.titletd:hover img{
    display: block;
}
/*男/女/共通*/
.common {
    background-image: url("https://i.imgur.com/gY4OsKw.png");
    background-repeat: no-repeat;
    background-position:right bottom 10px;
}
.male{
    background-image: url("https://i.imgur.com/hXc9CG1.png");
    background-repeat: no-repeat;
    background-position:right bottom 10px;
}
.female{
    background-image: url("https://i.imgur.com/xVS9E1e.png");
    background-repeat: no-repeat;
    background-position:right bottom 10px;
}
.float{
    background-image: url("https://i.imgur.com/MQWRDve.png");
    background-repeat: no-repeat;
    background-position:right bottom 10px;
}
.repeat {
    background-image: url("https://i.imgur.com/vGoz68t.png");
    background-repeat: no-repeat;
    background-position:right bottom 15px;
}
.color:before{
    width: 29px;
    height: 30px;
    background-image: url("https://i.imgur.com/MUbFO1g.png");
    background-repeat: no-repeat;
    content: "";
    display:inline-block;
    position: relative;
    bottom: -14px;
}
#item_talbe td{
    width:46px;
    height: 46px;
    line-height: 40px;
    background-color: rgb(205, 207, 206);
}
#item_talbe .boy{
    background-color: aquamarine;
    display :inline-block ;
    width : 46px ; height : 46px ;
    vertical-align: middle;
}
#item_talbe .girl{
    background-color: rgb(249, 128, 167);
    display :inline-block ;
    width : 46px ; height : 46px ;
    vertical-align: middle;  
}
#item_talbe .fly{
    background-color: rgb(151, 219, 142);
    display :inline-block ;
    width : 46px ; height : 46px ;
    vertical-align: middle;
}
#item_talbe div{
    line-height: 44px;
}

.table label{
    height: 46px;
}
/*套組顏色
.bg .checkAll_boy+b{
    background-color: PaleTurquoise;
}
.bg .checkAll_girl+b{
    background-color:LightPink;
}*/

/*BTS框
.table2{
    border: solid;
}*/
